/*Hoja de estilo del ejercicio index2 de canción del pirata*/
@font-face {
    font-family: 'Caligrafía';
    src: url('FileName.eot');
    src: url('../fonts/Italianno-Regular.ttf')
}
body{background-color: black; font-family: 'Caligrafía'}
#container{background-image: url(../images/piratafondo2.jpg); font-size:2em; background-size: cover; padding: 30px 0; text-align: center; width: 90%; margin: auto;}
#poema{background-color: rgba(190, 190, 140, 0.5); width: 350px; text-align: center; padding: 20px; margin: auto;}